# Telegram
TELEGRAM_BOT_TOKEN=8914376349:AAFzpCeJCGIJ6aKW6C2t4WUrBmNv8WGlVZk
TELEGRAM_CHAT_ID=7585957774,8638097560

# RSS.app feeds
TRUMP_RSS_URL=https://rss.app/feeds/psYBJMrD9XMwxbnu.xml
MELANIA_RSS_URL=https://rss.app/feeds/rv81p1DmwkN3NvkG.xml
